body {
  margin-bottom: 0rem;
  background-image: url("../img/Restaurant_Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html {
  height: 100%;
}
.main-nav {
  padding-top: 0;
  padding-bottom: 0%;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
}
.text-brand-admin-reduced {
  display: none;
}
.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.intro-text {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  margin-top: 6rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.intro-text-notFound {
  color: coral;
}
.intro-text-content {
  padding-top: 0%;
  padding-bottom: 0%;
}
.intro-text-content-p {
  font-size: 1.5rem;
}
.filter-label {
  background-color: rgb(33, 37, 41);
  border: rgb(33, 37, 41) solid 1px;
  color: white;
}
.filter-field {
  margin-bottom: 1rem;
}
.login-text {
  color: coral;
  text-decoration: none;
}
.cards {
  background-color: rgb(33, 37, 41);
  color: white;
}
.form-holder {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.form-holder-meal {
  padding-bottom: 4rem;
}
.input-el {
  padding-bottom: 1rem;
}
.admin-links {
  color: coral;
  text-decoration: none;
  font-size: 1.2rem;
}
.select-option {
  color: #636c72;
}
.main-content {
  padding-bottom: 3rem;
}
.barman-main-content {
  margin-top: 5rem;
}
.meal-preparation {
  background-color: rgb(33, 37, 41);
  color: white;
  margin-bottom: 1rem;
}
.table {
  font-size: 1.2rem;
}
/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
.form-button {
  display: flex;
}
.form-button-delete {
  margin-left: 0.7rem;
}
.ingredient-table-row {
  height: 5rem;
  overflow: hidden;
}
.ingredient-image {
  height: 100%;
}
.form-label {
  color: white;
}
.checked-label {
  color: white;
}
.table-cell-color-green {
  color: green;
}
.table-cell-color-red {
  color: coral;
}
.table-waiter {
  background-color: rgb(33, 37, 41);
  margin-bottom: 1rem;
}
.table-name-free {
  color: green;
}
.table-name-occupied {
  color: coral;
}
.table-check {
  color: white;
}
.waiter-end-button {
  display: inline-block;
}
.waiter-edit-button {
  display: inline-block;
  margin-left: 1rem;
}
.waiter-table-divs {
  display: inline-block;
  color: white;
  padding-bottom: 1rem;
}
.waiter-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr
}
.waiter-order-meals {
  margin-bottom: 0;
}
.waiter-meal-done {
  color: green;
}
.waiter-meal-preparing {
  color: coral;
}
.waiter-menu {
  background-color: rgb(33, 37, 41);
  color: white;
}
.waiter-order-meals {
  margin-bottom: 0.5rem;
}
.menu-buttons-holder {
  display: flex;
  margin-top: 1.5rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}
.menu-buttons-holder-waiter {
  display: flex;
}
.menu-buttons {
  min-width: 38px;
  font-size: 1.5rem;
  width: 3rem;
}
.menu-meal-count {
  width: 5rem;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}
.btn-place-order {
  font-size: 1.5rem;
}
.form-place-order {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cust-logout {
  border: none;
}
.cust-card-body {
  margin-bottom: 3rem;
}
.has-order {
  color: green !important;
}
.customer-order {
  margin-left: auto;
  margin-right: auto;
}
.cust-order-card-body {
  background-color: rgb(33, 37, 41);
  color: white;
}
.cust-order-meal-item {
  background-color: rgb(33, 37, 41);
}
.waiter-online-title {
  color: white;
}
.ingredient-inline {
  display: flex;
}
.ingredient-count {
  width: 6rem;
  text-align: center;
}
.meal-add-ingredient-button {
  width: 8rem;
  margin-left: 0.8rem;
}
@media (max-width: 350px) {
  .main-nav {
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
  }
  .image-brand {
    width: 50px;
    height: 50px;
    padding: 0;
  }
  .image-brand-admin {
    display: none;
  }
  .navbar-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .text-brand {
    margin-right: 0.1rem;
  }
  .text-brand-admin {
    display: none;
  }
  .text-brand-admin-reduced {
    display: block;
  }
  .sandwich-button {
    margin-left: 0rem;
  }
  .card-wrapper {
    padding-bottom: 3.5rem;
  }
  .main-content {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .form-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-holder-meal {
    padding-bottom: 0;
  }
  .register-form {
    padding-bottom: 4.5rem;
  }
  .form-button {
    display: grid;
  }
  .form-button-delete {
    margin-left: 0rem;
    padding-top: 0.5rem;
  }
  .waiter-grid-container {
    display: block;
  }
}
@media (max-width: 400px) {
  .main-nav {
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
  }
  .image-brand {
    width: 50px;
    height: 50px;
    padding: 0;
  }
  .image-brand-admin {
    display: none;
  }
  .navbar-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .text-brand {
    margin-right: 0.1rem;
  }
  .text-brand-admin {
    display: none;
  }
  .text-brand-admin-reduced {
    display: block;
  }
  .sandwich-button {
    margin-left: 0rem;
  }
  .card-wrapper {
    padding-bottom: 3.5rem;
  }
  .main-content {
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .form-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .form-holder-meal {
    padding-bottom: 0;
  }
  .register-form {
    padding-bottom: 4.5rem;
  }
  .form-button {
    display: grid;
  }
  .form-button-delete {
    margin-left: 0rem;
    padding-top: 0.5rem;
  }
  .waiter-grid-container {
    display: block;
  }
}
@media (max-width: 450px) {
  .main-nav {
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
  }
  .image-brand {
    width: 50px;
    height: 50px;
    padding: 0;
  }
  .image-brand-admin {
    display: none;
  }
  .navbar-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .text-brand {
    margin-right: 0.1rem;
  }
  .text-brand-admin {
    display: none;
  }
  .text-brand-admin-reduced {
    display: block;
  }
  .sandwich-button {
    margin-left: 0rem;
  }
  .card-wrapper {
    padding-bottom: 3.5rem;
  }
  .form-holder {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .waiter-grid-container {
    display: block;
  }
}
@media (max-width: 800px) {
  .form-holder {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .card-title-admin {
    font-size: 1.3rem;
  }
}
@media (min-width: 1400px) {
  .card-title-admin {
    font-size: 1.5rem;
  }
}
