<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link
            rel="icon"
            type="/assets/favicon.ico"
            href="/assets/favicon.ico"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/my_css.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
        <div class="container px-5 navbar-div">
            <a class="navbar-brand image-brand-admin" href="/home">
                <img
                        src="/img/Logo_small.png"
                        alt=""
                        width="60"
                        height="60"
                />
            </a>
            <a class="navbar-brand text-brand-admin" href="/home">The Restaurant - Waiters</a>
            <a class="navbar-brand text-brand-admin-reduced" href="/home">Waiters</a>
            <button
                    class="navbar-toggler sandwich-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- Page Content-->
<div class="container px-4 px-lg-5 main-content barman-main-content">
    <div class="input-group input-group-lg filter-field">
        <span class="input-group-text filter-label" id="inputGroup-sizing-lg">Filter Tables</span>
        <input id=filterField type="text" class="form-control" aria-label="Sizing example input"
               aria-describedby="inputGroup-sizing-lg">
        <input type="hidden" id="waiterId" th:value="${waiterId}">
    </div>
    <div id="mainContent">
        <div class="card table-waiter">
            <h5 class="card-header table-name-free">t1</h5>
            <div class="card-body">
                <form method="POST" action="">
                    <button type="submit" class="btn btn-success">New Order</button>
                </form>
            </div>
        </div>
        <div class="card table-waiter">
            <h5 class="card-header table-name-occupied">t1</h5>
            <div class="waiter-grid-container">
                <div class="card-body waiter-table-divs">
                    <h5 class="card-title table-check">21.99 $</h5>
                    <form class="waiter-end-button" method="POST" action="">
                        <button type="submit" class="btn btn-danger">End Order</button>
                    </form>
                    <form class="waiter-edit-button" method="POST" action="">
                        <button type="submit" class="btn btn-warning">Edit Order</button>
                    </form>
                </div>
                <div class="waiter-table-divs">
                    <p class="card-text waiter-order-meals">Beer</p>
                    <p class="card-text waiter-order-meals">Banica</p>
                    <p class="card-text waiter-order-meals">Fruit Salad</p>
                    <p class="card-text waiter-order-meals">Beer</p>
                    <p class="card-text waiter-order-meals">Banica</p>
                    <p class="card-text waiter-order-meals">Fruit Salad</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark footer">
    <div class="container px-4 px-lg-5 footer_container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2021
        </p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="/js/home-waiter.js"></script>
</body>
</html>
